In [1]:
import modelseedpy
from modelseedpy import MSBuilder, MSGenome

In [2]:
genome = MSGenome.from_fasta('GCF_000005845.2_ASM584v2_protein.faa', split=' ')

In [3]:
print('Number of features:', len(genome.features))

Number of features: 4285

In [4]:
from modelseedpy.helpers import get_template
from cobrakbase.core.kbasefba.newmodeltemplate_builder import NewModelTemplateBuilder
template = NewModelTemplateBuilder.from_dict(get_template('template_core'), None).build()
template

/usr/local/lib/python3.8/site-packages/modelseedpy//config.cfg
['data']
cobrakbase 0.2.8

In [6]:
model = MSBuilder.build_metabolic_model('ecoli.core', genome, template, None, allow_all_non_grp_reactions=True, annotate_with_rast=True)
model

In [8]:
model.objective = 'bio1'
model.medium = {
    'EX_cpd00067_e0': 1000,
    'EX_cpd00027_e0': 1,
    'EX_cpd00007_e0': 1000,
    'EX_cpd00001_e0': 1000,
    'EX_cpd00009_e0': 1000,
}
model.summary()

### Ignore cells celow (compare against existing KBase debugging)

In [2]:
import cobrakbase
kbase = cobrakbase.KBaseAPI()
model_compare = kbase.get_from_ws('GCF_000005845.2.RAST.mdl', 'filipeliu:narrative_1612259860241')
model_compare_template = kbase.get_from_ws(model_compare.template_ref)
model_compare_genome = kbase.get_from_ws(model_compare.genome_ref)

In [4]:
model_compare

In [49]:
rxn_ids2 = set(map(lambda x: x.id, model.reactions))
rxn_ids1 = set(map(lambda x: x.id, model_compare.reactions))

In [50]:
rxn_ids2 - rxn_ids1

set()

In [51]:
rxn_ids1 - rxn_ids2

{'rxn00077_c0',
 'rxn00160_c0',
 'rxn00499_c0',
 'rxn00512_c0',
 'rxn00668_c0',
 'rxn00869_c0',
 'rxn00985_c0',
 'rxn00994_c0',
 'rxn01452_c0',
 'rxn03884_c0',
 'rxn06493_c0',
 'rxn08178_c0',
 'rxn08179_c0',
 'rxn08792_c0',
 'rxn08793_c0',
 'rxn09004_c0',
 'rxn09174_c0'}

In [58]:
#for r in model_compare.reactions:
#    print(r, r.gene_reaction_rule)

In [59]:
model_compare.reactions.rxn00077_c0

In [22]:
model_compare_genome.features.b2615.functions

{'NAD kinase (EC 2.7.1.23)'}

In [32]:
for o in model_compare_template.reactions.rxn00077_c.complexes:
    print(o.id, o.roles)

cpx00366 {<NewModelTemplateRole ftr05049 at 0x7f7058808940>: (True, False)}
tcpx00002 {<NewModelTemplateRole tftr00135 at 0x7f70586d0c40>: (True, False)}

In [45]:
for f in genome.features:
    for a, b in f.ontology_terms.items():
        for k in b:
            if 'NAD kinase' in k:
                print(f.id, f.ontology_terms)

In [47]:
model_compare.features

AttributeError: 'FBAModel' object has no attribute 'features'

In [6]:
data = core_template.get_data()

In [14]:
for k in data.keys():
    if type(data[k]) is list:
        print(k, type(data[k]))
    else:
        print(k, data[k])

__VERSION__ 1
biochemistry_ref 489/6/13
biomasses <class 'list'>
compartments <class 'list'>
compcompounds <class 'list'>
complexes <class 'list'>
compounds <class 'list'>
domain Bacteria
id CoreModelTemplateV2
name CoreModelTemplateV2
pathways <class 'list'>
reactions <class 'list'>
roles <class 'list'>
subsystems <class 'list'>
type GenomeScale

In [75]:
for o, coef in model1.reactions.bio1.metabolites.items():
    print(o, o.name, coef)

cpd11791_c0 1,3-beta-Glucan_c0 -1.1348
cpd00035_c0 L-Alanine_c0 -0.4588
cpd00018_c0 AMP_c0 -0.046
cpd00051_c0 L-Arginine_c0 -0.1607
cpd00132_c0 L-Asparagine_c0 -0.1017
cpd00041_c0 L-Aspartate_c0 -0.2975
cpd00002_c0 ATP_c0 -59.276
cpd00046_c0 CMP_c0 -0.0447
cpd00084_c0 L-Cysteine_c0 -0.0066
cpd00294_c0 dAMP_c0 -0.0036
cpd00206_c0 dCMP_c0 -0.0024
cpd00296_c0 dGMP_c0 -0.0024
cpd00298_c0 dTMP_c0 -0.0036
cpd01170_c0 Ergosterol_c0 -0.0001
cpd00053_c0 L-Glutamine_c0 -0.1054
cpd00023_c0 L-Glutamate_c0 -0.3018
cpd00033_c0 Glycine_c0 -0.2904
cpd00155_c0 Glycogen_c0 -0.5185
cpd00126_c0 GMP_c0 -0.046
cpd00001_c0 H2O_c0 -59.276
cpd00119_c0 L-Histidine_c0 -0.0663
cpd00322_c0 L-Isoleucine_c0 -0.1927
cpd00107_c0 L-Leucine_c0 -0.2964
cpd00039_c0 L-Lysine_c0 -0.2862
cpd11685_c0 Mannan_c0 -0.8079
cpd00060_c0 L-Methionine_c0 -0.0507
cpd15276_c0 Phosphatidate, yeast-specific_c0 -0.0001
cpd11624_c0 Lecithin_c0 -0.0001
cpd29688_c0 psetha_BS_c0 -0.0001
cpd00066_c0 L-Phenylalanine_c0 -0.1339
cpd00129_c0 L-Proline_c0 -0.1647
cpd29687_c0 ps_BS_c0 -0.0001
ptd1ino-SC-c_c0 Phosphatidyl 1D myo inositol  yeast specific C4140H7644O1300P100 -0.0001
cpd00220_c0 Riboflavin_c0 -0.0001
cpd00054_c0 L-Serine_c0 -0.1854
cpd00048_c0 Sulfate_c0 -0.02
cpd00161_c0 L-Threonine_c0 -0.1914
cpd00794_c0 TRHL_c0 -0.0234
cpd11677_c0 Triglyceride_c0 -0.0001
cpd00065_c0 L-Tryptophan_c0 -0.0284
cpd00069_c0 L-Tyrosine_c0 -0.102
cpd00091_c0 UMP_c0 -0.0599
cpd00156_c0 L-Valine_c0 -0.2646
cpd03221_c0 Zymosterol_c0 -0.0015
cpd00008_c0 ADP_c0 59.276
cpd00067_c0 H+_c0 58.70001
cpd00009_c0 Phosphate_c0 59.305
cpd00104_c0 BIOT_c0 -0.008
cpd00087_c0 Tetrahydrofolate_c0 -0.008
cpd00017_c0 S-Adenosyl-L-methionine_c0 -0.008
cpd00345_c0 5-Methyltetrahydrofolate_c0 -0.008
cpd00016_c0 Pyridoxal phosphate_c0 -0.008
cpd00644_c0 PAN_c0 -0.0001

In [63]:
media = kbase.get_from_ws('Carbon-D-Glucose', 28277)

In [64]:
model1.medium = media

In [65]:
model1.summary()

In [67]:
model1.medium = {
    'EX_cpd00007_e0': 0,
 'EX_cpd00067_e0': 100,
 'EX_cpd00013_e0': 100,
 'EX_cpd00009_e0': 100,
 'EX_cpd00027_e0': 5,
 'EX_cpd00001_e0': 100,
 'EX_cpd10515_e0': 100,
 'EX_cpd00205_e0': 100,
 'EX_cpd00048_e0': 100,
 'EX_cpd00971_e0': 100}

In [68]:
model1.summary()